/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
} /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.page2 {
  font-family: sans-serif;
}

header .logo-ohmyfood-2 {
  display: flex;
  width: 100%;
  height: 63px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: none;
}
header .logo-ohmyfood-2 .fleche-de-gauche {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #353535;
  text-decoration: none;
}
header .logo-ohmyfood-2 img {
  height: 36px;
}
header .img-header {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: center 60%;
}

main {
  width: 100%;
}
main .La-palette-du-gout {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #F6F6F6;
  margin: -50px;
  position: relative;
  z-index: 2;
}
main .titre-2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  height: 27px;
  margin: 32px 17px 42px 17px;
}
main .titre-2 .coeur {
  margin-top: -20px;
  position: relative;
}
main .titre-2 h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand;
  margin: 0;
}
main .menu {
  background: #F6F6F6;
  width: 100%;
}
main .menu h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 16px;
}
main .entree {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 13px;
  gap: 12px;
}
main .card-menu {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
  border: transparent;
  overflow: hidden;
  border-radius: 20px;
  height: 72px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
main .card-menu .clique {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 55px;
  margin-right: 15px;
  transition: all 0.4s ease;
}
main .card-menu .card-text {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  max-width: calc(100% - 115px);
}
main .card-menu h3 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
main .card-menu p {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 15.04px;
  flex-wrap: wrap;
}
main .card-menu .prix {
  flex-shrink: 0;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 15.04px;
  margin: 0;
  transition: all 0.4s ease;
}
main .card-menu .clique h3,
main .card-menu .clique p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}
main .card-menu:hover .prix {
  margin-right: 55px;
  transition: all 0.4s ease;
}
main .titre-plus-barre {
  display: flex;
  flex-direction: column;
  margin: 48px 80px 0 20px;
}
main .separator {
  width: 40px;
  height: 3px;
  border: none;
  background: #99E2D0;
  margin: 10px 0;
  border-radius: 10px;
}
main .back-button {
  background: #F6F6F6;
  width: 100%;
  padding-bottom: 40px;
}
main .button-explorer2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .button-explorer2 .button-2 {
  font-size: 16px;
  margin-top: 40px;
  border-radius: 40px;
  border: transparent;
  width: 186px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.25s ease;
}
main .button-explorer2 .button-2:hover {
  opacity: 0.85;
  box-shadow: 1px 2px 9px 5px rgba(0, 0, 0, 0.18);
  font-size: 16.1px;
}
main .fond-vert {
  position: absolute;
  right: 0;
  top: 0;
  width: 59.84px;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
main .fond-vert .icone-border {
  width: 22px;
  border-radius: 60px;
  padding: 1px 4px;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  display: inline-block;
  color: #99E2D0;
}
main .card-menu:hover .fond-vert {
  transform: translateX(0);
}
main .card-menu:hover .clique h3,
main .card-menu:hover .clique p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

@media screen and (max-width: 480px) {
  main .card-menu:hover .prix {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .main-2 {
    padding-left: 192px;
    padding-right: 192px;
  }
  .main-2 .titre-2 {
    justify-content: center;
  }
  .main-2 .menu {
    padding-left: 210px;
    padding-right: 211px;
  }
}
.loader-container {
  position: fixed;
  inset: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s forwards;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.page-accueil {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .logo-ohmyfood {
  display: flex;
  width: 100%;
  height: 63px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header .logo-ohmyfood img {
  height: 36px;
  width: 197px;
  display: block;
}
header .localisation {
  background: #EAEAEA;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 17px;
  width: 100%;
  height: 50px;
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header .localisation p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main a {
  text-decoration: none;
  color: inherit;
}
main .nos-restaurants {
  background: #F6F6F6;
  width: 100%;
  position: relative;
}
main .titre {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 38px;
}
main .titre h1 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 70%;
  height: 68px;
}
main .para {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 27px;
  text-align: center;
}
main .button-explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 57px;
}
main .button-explorer .buton {
  font-size: 16px;
  border-radius: 40px;
  border: transparent;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.25s ease;
}
main .button-explorer .buton:hover {
  opacity: 0.85;
  box-shadow: 1px 2px 9px 5px rgba(0, 0, 0, 0.18);
  font-size: 16.1px;
}
main h2 {
  font-size: 24px;
  margin: 48px 80px 26px 20px;
  font-weight: bolder;
}
main .resto-fonc {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
main .icone-chiffre {
  display: flex;
  justify-content: center;
  padding: 5px 2px;
  border-radius: 20px;
  width: 24px;
  height: 24px;
  border: transparent;
  background: #9356DC;
  position: relative;
  margin-right: -15px;
}
main .icone-chiffre p {
  font-size: 14.18px;
  color: #FFFFFF;
}
main .fonctionnement {
  width: 100%;
  padding: 0 20px;
}
main .fonctionnement .last {
  margin-bottom: 68px;
}
main .resto-fonc-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  background: #F6F6F6;
  border: transparent;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 72px;
  margin-bottom: 24.92px;
}
main .resto-fonc-1 i {
  margin-left: 33.47px;
}
main .resto-fonc-1 p {
  font-size: 16px;
  font-weight: 500;
}
main .restaurants {
  background: #F6F6F6;
  width: 100%;
  padding-bottom: 66px;
}
main .restaurants h2 {
  margin-top: 54px;
  margin-left: 20px;
}
main .card-contenaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 0 17px;
}
main .card-resto {
  width: 100%;
  background: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}
main .card-resto img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  display: block;
}
main .card-resto .img-plus-badge {
  position: relative;
  overflow: hidden;
}
main .card-resto .nouveau {
  background: #99E2D0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}
main .card-resto .card-txt {
  width: 100%;
  margin: 12px 0 12px 13px;
}
main .card-resto h3 {
  font-weight: 700;
  font-size: 18px;
}
main .card-resto p {
  font-size: 17px;
}
main .bas-de-card {
  display: flex;
  flex-direction: row;
  width: 85%;
}
main .button-coeur {
  position: absolute;
  top: 190px;
  right: 50px;
  z-index: 2;
}
main .coeur {
  display: inline-block;
  cursor: pointer;
  font-size: 22px;
}
main .coeur input {
  display: none;
}
main .coeur .coeur-vide,
main .coeur .coeur-plein {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease;
}
main .coeur .coeur-vide {
  color: #000000;
  opacity: 1;
}
main .coeur .coeur-plein {
  display: inline-block;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
main .coeur input:checked + .coeur-vide {
  opacity: 0;
}
main .coeur input:checked ~ .coeur-plein {
  opacity: 1;
}

footer {
  background: #353535;
  width: 100%;
  height: 186px;
}
footer img {
  color: #FFFFFF;
  width: 137px;
  height: 20px;
  margin: 22px 0 16px 25px;
  font-family: "Shrikhand", sans-serif;
  filter: brightness(0) invert(1);
}
footer .txt-footer {
  display: flex;
  color: #FFFFFF;
  gap: 7px;
  flex-direction: column;
  margin-left: 25px;
}
footer .couvert {
  display: flex;
  flex-direction: row;
  gap: 11px;
  font-weight: 500;
  width: 190px;
  font-family: "Roboto", sans-serif;
}
footer .moins {
  font-weight: 400;
  width: 130px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1024px) {
  header .logo-ohmyfood {
    box-shadow: none;
    height: 96px;
  }
  header .localisation {
    box-shadow: none;
  }
  header .img-header {
    height: 383px;
  }
  main .titre h1 {
    font-size: 40px;
  }
  main .nos-restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  main .button-explorer {
    margin-bottom: 30px;
  }
  main .fonctionnement {
    width: 100%;
    height: 228.37px;
    padding: 0;
  }
  main .fonctionnement h2 {
    max-width: 1090px;
    margin: 0 auto 20px;
    margin-top: 30px;
  }
  main .fonctionnement .fonc-ordi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 207px 50px 180px;
  }
  main .fonctionnement .resto-fonc-1 {
    margin-bottom: 0;
    width: 322.48px;
  }
  main .fonctionnement .last {
    margin: 0;
  }
  main .restaurants h2 {
    max-width: 1090px;
    margin: 0 auto 20px;
    margin-top: 30px;
  }
  main .restaurants .card-contenaire {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: 0 auto;
  }
  main .restaurants .card-resto {
    width: 490px;
    height: 251px;
  }
  main .restaurants .card-1 {
    margin-right: 100px;
    margin-bottom: 50px;
  }
  main .restaurants .card-2 {
    margin-bottom: 50px;
  }
  main .restaurants .card-3 {
    margin-right: 100px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    width: 100%;
  }
  footer img {
    margin: 64px 18px 30px 16px;
  }
  footer .txt-footer {
    flex-direction: row;
    gap: 7px;
    margin-bottom: 30px;
    margin-top: 64px;
  }
}

/*# sourceMappingURL=accueil.css.map */
