
@media screen and (min-width: 1024px) { 
   
    .main-2 { 
        padding-left: 192px;
        padding-right: 192px;

       .titre-2 {
        justify-content: center;
        }

        .menu {
            padding-left: 210px;
            padding-right: 211px;
        }

         .card-menu .card-text {
            width: 572px;
        }

        .card-menu:hover .clique .card-text {
            width: 535px;
        }
    }
}